body {
    margin: 0;
    padding: 0;
}

.headerMain {
    width: auto;
    height: 52px;
    background-color: #D7AA51;
}

.headerElem {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

.logo {
    position: absolute;
    width: 53px;
    height: 54px;
    margin-left: 13px;
}
